<a href="https://colab.research.google.com/github/wabinyai/AIRQO-web/blob/master/Compare_Metrologican_data_with_PM_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install geopandas

Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 21.9 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 26.7 MB/s
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 374 kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.1.post1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2018.9)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [4]:
pip install iteration_utilities

Collecting iteration_utilities
  Downloading iteration_utilities-0.11.0-cp37-cp37m-manylinux2014_x86_64.whl (283 kB)
     |████████████████████████████████| 283 kB 26.1 MB/s
Installing collected packages: iteration-utilities
Successfully installed iteration-utilities-0.11.0

In [5]:
import pandas as pd
import geopandas as gpd
import folium
import branca.colormap as cm
import matplotlib.pyplot as plt
from iteration_utilities import duplicates
from google.colab import files
from folium.plugins import FastMarkerCluster

# DATA SET

In [6]:
uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving TA00216.csv to TA00216.csv
User uploaded file "TA00216.csv" with length 5309214 bytes

In [41]:
fname = fn
df = pd.read_csv(fname)
df.head()

,timestamp (UTC),atmosphericpressure S000220 AVG (kPa),atmosphericpressure S001002 AVG (kPa),atmosphericpressure S001544 AVG (kPa),precipitation S000220 (mm),precipitation S001002 (mm),precipitation S001544 (mm),radiation S000220 AVG (W/m2),radiation S001002 AVG (W/m2),radiation S001544 AVG (W/m2),...,temperature S001544 MIN (degrees Celsius),winddirection S000220 (degrees),winddirection S001002 (degrees),winddirection S001544 (degrees),windgusts S000220 MAX (m/s),windgusts S001002 MAX (m/s),windgusts S001544 MAX (m/s),windspeed S000220 AVG (m/s),windspeed S001002 AVG (m/s),windspeed S001544 AVG (m/s)
0,2018-01-01 00:00,87.691667,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,...,NaN,203.788162,NaN,NaN,0.93,NaN,NaN,0.296667,NaN,NaN
1,2018-01-01 01:00,87.650833,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,...,NaN,214.239503,NaN,NaN,1.21,NaN,NaN,0.292500,NaN,NaN
2,2018-01-01 02:00,87.681667,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,...,NaN,143.470040,NaN,NaN,1.31,NaN,NaN,0.424167,NaN,NaN
3,2018-01-01 03:00,87.722500,NaN,NaN,0.0,NaN,NaN,0.000000,NaN,NaN,...,NaN,321.622037,NaN,NaN,1.60,NaN,NaN,0.441667,NaN,NaN
4,2018-01-01 04:00,87.779167,NaN,NaN,0.0,NaN,NaN,29.666667,NaN,NaN,...,NaN,280.324638,NaN,NaN,1.56,NaN,NaN,0.647500,NaN,NaN

In [10]:
df.isna().sum()

timestamp (UTC)                                  0
atmosphericpressure S000220 AVG (kPa)        25079
atmosphericpressure S001002 AVG (kPa)        23020
atmosphericpressure S001544 AVG (kPa)        27968
precipitation S000220 (mm)                   25079
precipitation S001002 (mm)                   31151
precipitation S001544 (mm)                   27968
radiation S000220 AVG (W/m2)                 25079
radiation S001002 AVG (W/m2)                 23019
radiation S001544 AVG (W/m2)                 27968
relativehumidity S000220 AVG (-)             25594
relativehumidity S001002 AVG (-)             23034
relativehumidity S001544 AVG (-)             27970
temperature S000220 AVG (degrees Celsius)    25080
temperature S000220 MAX (degrees Celsius)    25080
temperature S000220 MIN (degrees Celsius)    25080
temperature S001002 AVG (degrees Celsius)    23035
temperature S001002 MAX (degrees Celsius)    23035
temperature S001002 MIN (degrees Celsius)    23035
temperature S001544 AVG (degrees Celsius)    27968
temperature S001544 MAX (degrees Celsius)    27968
temperature S001544 MIN (degrees Celsius)    27968
winddirection S000220 (degrees)              25134
winddirection S001002 (degrees)              23102
winddirection S001544 (degrees)              28077
windgusts S000220 MAX (m/s)                  25240
windgusts S001002 MAX (m/s)                  23121
windgusts S001544 MAX (m/s)                  28077
windspeed S000220 AVG (m/s)                  25246
windspeed S001002 AVG (m/s)                  23102
windspeed S001544 AVG (m/s)                  28077
dtype: int64

# CONVERTING TO DATE TIME

In [44]:
# Conveting created_at from object to date time 
df['timestamp (UTC)'] = pd.to_datetime(df['timestamp (UTC)'], dayfirst=True)
df.rename(columns={'timestamp (UTC)':'Datetime'}, inplace=True)

# Deprecated uses of TimeGrouper
You can set the index to be 'Date_Time' and use pd.TimeGrouper

In [38]:
df.set_index('Datetime').groupby(pd.Grouper(freq='M')).mean()

,atmosphericpressure S000220 AVG (kPa),atmosphericpressure S001002 AVG (kPa),atmosphericpressure S001544 AVG (kPa),precipitation S000220 (mm),precipitation S001002 (mm),precipitation S001544 (mm),radiation S000220 AVG (W/m2),radiation S001002 AVG (W/m2),radiation S001544 AVG (W/m2),relativehumidity S000220 AVG (-),...,temperature S001544 MIN (degrees Celsius),winddirection S000220 (degrees),winddirection S001002 (degrees),winddirection S001544 (degrees),windgusts S000220 MAX (m/s),windgusts S001002 MAX (m/s),windgusts S001544 MAX (m/s),windspeed S000220 AVG (m/s),windspeed S001002 AVG (m/s),windspeed S001544 AVG (m/s)
Datetime,,,,,,,,,,,,,,,,,,,,,
2018-01-31,87.582342,NaN,NaN,0.038079,NaN,NaN,154.863239,NaN,NaN,0.698082,...,NaN,157.569222,NaN,NaN,2.252923,NaN,NaN,0.898680,NaN,NaN
2018-02-28,87.472344,NaN,NaN,0.079714,NaN,NaN,164.920511,NaN,NaN,0.717175,...,NaN,167.164998,NaN,NaN,2.416893,NaN,NaN,0.810712,NaN,NaN
2018-03-31,87.634998,NaN,NaN,0.240235,NaN,NaN,135.076277,NaN,NaN,0.836986,...,NaN,190.101949,NaN,NaN,2.808040,NaN,NaN,1.178906,NaN,NaN
2018-04-30,87.688966,NaN,NaN,0.223131,NaN,NaN,120.929861,NaN,NaN,0.870421,...,NaN,181.353790,NaN,NaN,2.108336,NaN,NaN,0.759155,NaN,NaN
2018-05-31,87.735650,NaN,NaN,0.002993,NaN,NaN,124.928763,NaN,NaN,0.838397,...,NaN,178.693209,NaN,NaN,2.501012,NaN,NaN,0.742725,NaN,NaN
2018-06-30,87.857962,NaN,NaN,0.000283,NaN,NaN,118.641551,NaN,NaN,0.817962,...,NaN,174.329874,NaN,NaN,1.933278,NaN,NaN,0.674488,NaN,NaN
2018-07-31,87.877140,NaN,NaN,0.026740,NaN,NaN,168.127748,NaN,NaN,0.762427,...,NaN,131.417235,NaN,NaN,2.242923,NaN,NaN,0.760634,NaN,NaN
2018-08-31,87.841083,NaN,NaN,0.116673,NaN,NaN,150.826277,NaN,NaN,0.811238,...,NaN,122.899551,NaN,NaN,2.019173,NaN,NaN,0.741872,NaN,NaN
2018-09-30,87.650181,NaN,NaN,0.108140,NaN,NaN,167.375463,NaN,NaN,0.792124,...,NaN,144.407177,NaN,NaN,2.190687,NaN,NaN,0.758999,NaN,NaN
2018-10-31,87.670505,NaN,NaN,0.303336,NaN,NaN,155.055444,NaN,NaN,0.818523,...,NaN,145.500552,NaN,NaN,2.205923,NaN,NaN,0.760862,NaN,NaN
2018-11-30,87.609039,NaN,NaN,0.224599,NaN,NaN,166.914005,NaN,NaN,0.808890,...,NaN,130.498729,NaN,NaN,2.242289,NaN,NaN,0.912256,NaN,NaN
2018-12-31,87.687167,NaN,NaN,0.176546,NaN,NaN,136.580869,NaN,NaN,0.834294,...,NaN,119.259984,NaN,NaN,2.423202,NaN,NaN,1.194524,NaN,NaN
2019-01-31,87.654858,NaN,NaN,0.136722,NaN,NaN,161.680780,NaN,NaN,0.775493,...,NaN,111.495241,NaN,NaN,3.105981,NaN,NaN,1.807243,NaN,NaN
2019-02-28,87.622389,NaN,NaN,0.123960,NaN,NaN,197.831775,NaN,NaN,0.726816,...,NaN,150.217377,NaN,NaN,3.101744,NaN,NaN,1.493655,NaN,NaN
2019-03-31,87.671298,NaN,NaN,0.052250,NaN,NaN,225.032370,NaN,NaN,0.735687,...,NaN,177.479748,NaN,NaN,2.270323,NaN,NaN,0.659950,NaN,NaN
2019-04-30,87.677877,NaN,NaN,0.264861,NaN,NaN,191.742708,NaN,NaN,0.796413,...,NaN,175.735272,NaN,NaN,2.224667,NaN,NaN,0.645672,NaN,NaN
2019-05-31,87.745954,87.745170,NaN,0.234539,0.294330,NaN,189.594298,178.943175,NaN,0.828227,...,NaN,153.725367,167.275812,NaN,2.349934,2.013503,NaN,0.643969,0.588041,NaN
2019-06-30,NaN,87.895792,NaN,NaN,0.271263,NaN,NaN,122.750463,NaN,NaN,...,NaN,NaN,174.360493,NaN,NaN,1.733208,NaN,NaN,0.521017,NaN
2019-07-31,NaN,87.829965,NaN,NaN,0.086573,NaN,NaN,145.503472,NaN,NaN,...,NaN,NaN,175.697432,NaN,NaN,1.909597,NaN,NaN,0.568746,NaN
2019-08-31,NaN,87.883114,NaN,NaN,0.108833,NaN,NaN,125.302979,NaN,NaN,...,NaN,NaN,168.028271,NaN,NaN,1.902715,NaN,NaN,0.572790,NaN
2019-09-30,NaN,87.768319,NaN,NaN,0.295781,NaN,NaN,144.241435,NaN,NaN,...,NaN,NaN,175.503916,NaN,NaN,1.991361,NaN,NaN,0.616610,NaN
2019-10-31,NaN,87.648749,NaN,NaN,0.266288,NaN,NaN,143.036626,NaN,NaN,...,NaN,NaN,183.712202,NaN,NaN,1.963938,NaN,NaN,0.595141,NaN
2019-11-30,NaN,87.641776,NaN,NaN,0.158250,NaN,NaN,131.959144,NaN,NaN,...,NaN,NaN,182.468600,NaN,NaN,1.780389,NaN,NaN,0.557895,NaN
2019-12-31,NaN,87.681257,NaN,NaN,0.058209,NaN,NaN,127.524931,NaN,NaN,...,NaN,NaN,191.326643,NaN,NaN,1.684138,NaN,NaN,0.570521,NaN
2020-01-31,NaN,87.725898,NaN,NaN,NaN,NaN,NaN,151.827970,NaN,NaN,...,NaN,NaN,218.242268,NaN,NaN,2.157802,NaN,NaN,0.662485,NaN
2020-02-29,NaN,87.717591,NaN,NaN,NaN,NaN,NaN,167.568606,NaN,NaN,...,NaN,NaN,189.934461,NaN,NaN,1.897100,NaN,NaN,0.576398,NaN
2020-03-31,NaN,87.694279,NaN,NaN,NaN,NaN,NaN,161.843088,NaN,NaN,...,NaN,NaN,175.216082,NaN,NaN,1.923582,NaN,NaN,0.532051,NaN
2020-04-30,NaN,87.746858,NaN,NaN,NaN,NaN,NaN,155.036574,NaN,NaN,...,NaN,NaN,171.180115,NaN,NaN,2.020822,NaN,NaN,0.575984,NaN
2020-05-31,NaN,87.861712,NaN,NaN,NaN,NaN,NaN,147.174619,NaN,NaN,...,NaN,NaN,166.897955,NaN,NaN,1.849702,NaN,NaN,0.519814,NaN
2020-06-30,NaN,87.913903,NaN,NaN,NaN,NaN,NaN,143.933333,NaN,NaN,...,NaN,NaN,193.696539,NaN,NaN,1.987429,NaN,NaN,0.530394,NaN
2020-07-31,NaN,87.761147,NaN,NaN,NaN,NaN,NaN,147.174794,NaN,NaN,...,NaN,NaN,175.706520,NaN,NaN,2.007226,NaN,NaN,0.608550,NaN
2020-08-31,NaN,87.699902,NaN,NaN,NaN,NaN,NaN,158.055805,NaN,NaN,...,NaN,NaN,193.846435,NaN,NaN,2.488236,NaN,NaN,0.737625,NaN
2020-09-30,NaN,87.713543,NaN,NaN,NaN,NaN,NaN,162.931386,NaN,NaN,...,NaN,NaN,195.010888,NaN,NaN,2.341273,NaN,NaN,0.691405,NaN
2020-10-31,NaN,87.715022,NaN,NaN,NaN,NaN,NaN,145.437388,NaN,NaN,...,NaN,NaN,198.070551,NaN,NaN,2.225132,NaN,NaN,0.666769,NaN
2020-11-30,NaN,87.714995,NaN,NaN,NaN,NaN,NaN,141.731944,NaN,NaN,...,NaN,NaN,212.914330,NaN,NaN,2.187103,NaN,NaN,0.675069,NaN
2020-12-31,NaN,87.669645,NaN,NaN,NaN,NaN,NaN,147.187816,NaN,NaN,...,NaN,NaN,215.834223,NaN,NaN,2.009772,NaN,NaN,0.622456,NaN
2021-01-31,NaN,87.630465,NaN,NaN,NaN,NaN,NaN,140.007728,NaN,NaN,...,NaN,NaN,216.863872,NaN,NaN,1.960497,NaN,NaN,0.603822,NaN
2021-02-28,NaN,87.726652,87.627474,NaN,0.000000,0.278065,NaN,269.544337,170.985975,NaN,...,21.952614,NaN,197.165832,215.443423,NaN,2.272623,2.116013,NaN,0.679006,0.637142
2021-03-31,NaN,NaN,87.554224,NaN,NaN,0.211634,NaN,NaN,185.114471,NaN,...,22.195968,NaN,NaN,208.934159,NaN,NaN,2.361613,NaN,NaN,0.683556
2021-04-30,NaN,NaN,87.696899,NaN,NaN,0.119685,NaN,NaN,178.444560,NaN,...,21.830417,NaN,NaN,179.962728,NaN,NaN,2.377667,NaN,NaN,0.679434
2021-05-31,NaN,NaN,87.780029,NaN,NaN,0.002418,NaN,NaN,131.547642,NaN,...,20.822198,NaN,NaN,181.272333,NaN,NaN,1.915948,NaN,NaN,0.596970
2021-06-30,NaN,NaN,87.839811,NaN,NaN,0.148997,NaN,NaN,163.131964,NaN,...,21.624363,NaN,NaN,185.872458,NaN,NaN,2.219164,NaN,NaN,0.629216
2021-07-31,NaN,NaN,87.903226,NaN,NaN,0.071685,NaN,NaN,161.795575,NaN,...,21.141980,NaN,NaN,187.763604,NaN,NaN,2.213030,NaN,NaN,0.630259
2021-08-31,NaN,NaN,87.812648,NaN,NaN,0.117276,NaN,NaN,169.060947,NaN,...,21.150633,NaN,NaN,179.677007,NaN,NaN,2.225091,NaN,NaN,0.680696
2021-09-30,NaN,NaN,87.765325,NaN,NaN,0.187951,NaN,NaN,160.914931,NaN,...,21.200694,NaN,NaN,165.938704,NaN,NaN,2.182920,NaN,NaN,0.658418
2021-10-31,NaN,NaN,87.686896,NaN,NaN,0.295241,NaN,NaN,159.253472,NaN,...,21.478360,NaN,NaN,185.271395,NaN,NaN,2.113522,NaN,NaN,0.626350
2021-11-30,NaN,NaN,87.637591,NaN,NaN,0.239278,NaN,NaN,141.507966,NaN,...,21.650702,NaN,NaN,202.218897,NaN,NaN,2.100096,NaN,NaN,0.620433
2021-12-31,NaN,NaN,87.638928,NaN,NaN,0.179401,NaN,NaN,143.976703,NaN,...,22.109812,NaN,NaN,202.463292,NaN,NaN,1.935572,NaN,NaN,0.565806
2022-01-31,NaN,NaN,87.669376,NaN,NaN,0.011585,NaN,NaN,152.524866,NaN,...,22.235887,NaN,NaN,206.992554,NaN,NaN,2.102003,NaN,NaN,0.627793
2022-02-28,NaN,NaN,87.613718,NaN,NaN,0.170576,NaN,NaN,142.290757,NaN,...,21.984061,NaN,NaN,201.419252,NaN,NaN,2.242067,NaN,NaN,0.634490
2022-03-31,NaN,NaN,87.472326,NaN,NaN,0.160675,NaN,NaN,170.614046,NaN,...,22.994588,NaN,NaN,216.354782,NaN,NaN,2.318995,NaN,NaN,0.660116

# Mean daily average

In [36]:
df1=df.resample('D', on='Datetime').mean()
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1537 entries, 2018-01-01 to 2022-03-17
Freq: D
Data columns (total 30 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   atmosphericpressure S000220 AVG (kPa)      492 non-null    float64
 1   atmosphericpressure S001002 AVG (kPa)      601 non-null    float64
 2   atmosphericpressure S001544 AVG (kPa)      388 non-null    float64
 3   precipitation S000220 (mm)                 492 non-null    float64
 4   precipitation S001002 (mm)                 241 non-null    float64
 5   precipitation S001544 (mm)                 388 non-null    float64
 6   radiation S000220 AVG (W/m2)               492 non-null    float64
 7   radiation S001002 AVG (W/m2)               598 non-null    float64
 8   radiation S001544 AVG (W/m2)               388 non-null    float64
 9   relativehumidity S000220 AVG (-)           492 non-null    float64
 10  relativehumidity S001002 AVG (-)           601 non-null    float64
 11  relativehumidity S001544 AVG (-)           388 non-null    float64
 12  temperature S000220 AVG (degrees Celsius)  492 non-null    float64
 13  temperature S000220 MAX (degrees Celsius)  492 non-null    float64
 14  temperature S000220 MIN (degrees Celsius)  492 non-null    float64
 15  temperature S001002 AVG (degrees Celsius)  601 non-null    float64
 16  temperature S001002 MAX (degrees Celsius)  601 non-null    float64
 17  temperature S001002 MIN (degrees Celsius)  601 non-null    float64
 18  temperature S001544 AVG (degrees Celsius)  388 non-null    float64
 19  temperature S001544 MAX (degrees Celsius)  388 non-null    float64
 20  temperature S001544 MIN (degrees Celsius)  388 non-null    float64
 21  winddirection S000220 (degrees)            492 non-null    float64
 22  winddirection S001002 (degrees)            601 non-null    float64
 23  winddirection S001544 (degrees)            388 non-null    float64
 24  windgusts S000220 MAX (m/s)                492 non-null    float64
 25  windgusts S001002 MAX (m/s)                601 non-null    float64
 26  windgusts S001544 MAX (m/s)                388 non-null    float64
 27  windspeed S000220 AVG (m/s)                492 non-null    float64
 28  windspeed S001002 AVG (m/s)                601 non-null    float64
 29  windspeed S001544 AVG (m/s)                388 non-null    float64
dtypes: float64(30)
memory usage: 372.2 KB

# Mean montly

In [21]:
df1=df.resample('M', on='Datetime').mean()

# Annual average

In [24]:
df1=df.resample('Y', on='Datetime').mean()

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2018-12-31 to 2022-12-31
Freq: A-DEC
Data columns (total 30 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   atmosphericpressure S000220 AVG (kPa)      2 non-null      float64
 1   atmosphericpressure S001002 AVG (kPa)      3 non-null      float64
 2   atmosphericpressure S001544 AVG (kPa)      2 non-null      float64
 3   precipitation S000220 (mm)                 2 non-null      float64
 4   precipitation S001002 (mm)                 2 non-null      float64
 5   precipitation S001544 (mm)                 2 non-null      float64
 6   radiation S000220 AVG (W/m2)               2 non-null      float64
 7   radiation S001002 AVG (W/m2)               3 non-null      float64
 8   radiation S001544 AVG (W/m2)               2 non-null      float64
 9   relativehumidity S000220 AVG (-)           2 non-null      float64
 10  relativehumidity S001002 AVG (-)           3 non-null      float64
 11  relativehumidity S001544 AVG (-)           2 non-null      float64
 12  temperature S000220 AVG (degrees Celsius)  2 non-null      float64
 13  temperature S000220 MAX (degrees Celsius)  2 non-null      float64
 14  temperature S000220 MIN (degrees Celsius)  2 non-null      float64
 15  temperature S001002 AVG (degrees Celsius)  3 non-null      float64
 16  temperature S001002 MAX (degrees Celsius)  3 non-null      float64
 17  temperature S001002 MIN (degrees Celsius)  3 non-null      float64
 18  temperature S001544 AVG (degrees Celsius)  2 non-null      float64
 19  temperature S001544 MAX (degrees Celsius)  2 non-null      float64
 20  temperature S001544 MIN (degrees Celsius)  2 non-null      float64
 21  winddirection S000220 (degrees)            2 non-null      float64
 22  winddirection S001002 (degrees)            3 non-null      float64
 23  winddirection S001544 (degrees)            2 non-null      float64
 24  windgusts S000220 MAX (m/s)                2 non-null      float64
 25  windgusts S001002 MAX (m/s)                3 non-null      float64
 26  windgusts S001544 MAX (m/s)                2 non-null      float64
 27  windspeed S000220 AVG (m/s)                2 non-null      float64
 28  windspeed S001002 AVG (m/s)                3 non-null      float64
 29  windspeed S001544 AVG (m/s)                2 non-null      float64
dtypes: float64(30)
memory usage: 1.2 KB

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36869 entries, 0 to 36868
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Datetime                                   36869 non-null  datetime64[ns]
 1   atmosphericpressure S000220 AVG (kPa)      11790 non-null  float64
 2   atmosphericpressure S001002 AVG (kPa)      13849 non-null  float64
 3   atmosphericpressure S001544 AVG (kPa)      8901 non-null   float64
 4   precipitation S000220 (mm)                 11790 non-null  float64
 5   precipitation S001002 (mm)                 5718 non-null   float64
 6   precipitation S001544 (mm)                 8901 non-null   float64
 7   radiation S000220 AVG (W/m2)               11790 non-null  float64
 8   radiation S001002 AVG (W/m2)               13850 non-null  float64
 9   radiation S001544 AVG (W/m2)               8901 non-null   float64
 10  relativehumidity S000220 AVG (-)           11275 non-null  float64
 11  relativehumidity S001002 AVG (-)           13835 non-null  float64
 12  relativehumidity S001544 AVG (-)           8899 non-null   float64
 13  temperature S000220 AVG (degrees Celsius)  11789 non-null  float64
 14  temperature S000220 MAX (degrees Celsius)  11789 non-null  float64
 15  temperature S000220 MIN (degrees Celsius)  11789 non-null  float64
 16  temperature S001002 AVG (degrees Celsius)  13834 non-null  float64
 17  temperature S001002 MAX (degrees Celsius)  13834 non-null  float64
 18  temperature S001002 MIN (degrees Celsius)  13834 non-null  float64
 19  temperature S001544 AVG (degrees Celsius)  8901 non-null   float64
 20  temperature S001544 MAX (degrees Celsius)  8901 non-null   float64
 21  temperature S001544 MIN (degrees Celsius)  8901 non-null   float64
 22  winddirection S000220 (degrees)            11735 non-null  float64
 23  winddirection S001002 (degrees)            13767 non-null  float64
 24  winddirection S001544 (degrees)            8792 non-null   float64
 25  windgusts S000220 MAX (m/s)                11629 non-null  float64
 26  windgusts S001002 MAX (m/s)                13748 non-null  float64
 27  windgusts S001544 MAX (m/s)                8792 non-null   float64
 28  windspeed S000220 AVG (m/s)                11623 non-null  float64
 29  windspeed S001002 AVG (m/s)                13767 non-null  float64
 30  windspeed S001544 AVG (m/s)                8792 non-null   float64
 31  datetime                                   36869 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(30)
memory usage: 9.0 MB

In [40]:
df = df.groupby('Datetime')['atmosphericpressure S000220 AVG (kPa)'].mean().reset_index()
df

                 Datetime  atmosphericpressure S000220 AVG (kPa)
0     2018-01-01 00:00:00                              87.691667
1     2018-01-01 01:00:00                              87.650833
2     2018-01-01 02:00:00                              87.681667
3     2018-01-01 03:00:00                              87.722500
4     2018-01-01 04:00:00                              87.779167
...                   ...                                    ...
36864 2022-03-17 00:00:00                                    NaN
36865 2022-03-17 01:00:00                                    NaN
36866 2022-03-17 02:00:00                                    NaN
36867 2022-03-17 03:00:00                                    NaN
36868 2022-03-17 04:00:00                                    NaN

[36869 rows x 2 columns]

# Daily average of atmosphericpressure S000220 AVG (kPa)

In [47]:
daily = df.set_index('Datetime').groupby(pd.Grouper(freq='D'))['atmosphericpressure S000220 AVG (kPa)'].mean()
monthly = daily.groupby(pd.Grouper(freq='D')).mean()
#Dropping all Nan values
monthlysH = monthly.dropna(axis=0)
print (monthlysH.head())
print (monthlysH.shape)

#monthlysH.to_csv('E:/RESEAERCH/FEEDS/ENTE/HUM1.csv')

Datetime
2018-01-01    87.637118
2018-01-02    87.589965
2018-01-03    87.592604
2018-01-04    87.710729
2018-01-05    87.569792
Freq: D, Name: atmosphericpressure S000220 AVG (kPa), dtype: float64
(492,)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36869 entries, 0 to 36868
Data columns (total 31 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Datetime                                   36869 non-null  datetime64[ns]
 1   atmosphericpressure S000220 AVG (kPa)      11790 non-null  float64
 2   atmosphericpressure S001002 AVG (kPa)      13849 non-null  float64
 3   atmosphericpressure S001544 AVG (kPa)      8901 non-null   float64
 4   precipitation S000220 (mm)                 11790 non-null  float64
 5   precipitation S001002 (mm)                 5718 non-null   float64
 6   precipitation S001544 (mm)                 8901 non-null   float64
 7   radiation S000220 AVG (W/m2)               11790 non-null  float64
 8   radiation S001002 AVG (W/m2)               13850 non-null  float64
 9   radiation S001544 AVG (W/m2)               8901 non-null   float64
 10  relativehumidity S000220 AVG (-)           11275 non-null  float64
 11  relativehumidity S001002 AVG (-)           13835 non-null  float64
 12  relativehumidity S001544 AVG (-)           8899 non-null   float64
 13  temperature S000220 AVG (degrees Celsius)  11789 non-null  float64
 14  temperature S000220 MAX (degrees Celsius)  11789 non-null  float64
 15  temperature S000220 MIN (degrees Celsius)  11789 non-null  float64
 16  temperature S001002 AVG (degrees Celsius)  13834 non-null  float64
 17  temperature S001002 MAX (degrees Celsius)  13834 non-null  float64
 18  temperature S001002 MIN (degrees Celsius)  13834 non-null  float64
 19  temperature S001544 AVG (degrees Celsius)  8901 non-null   float64
 20  temperature S001544 MAX (degrees Celsius)  8901 non-null   float64
 21  temperature S001544 MIN (degrees Celsius)  8901 non-null   float64
 22  winddirection S000220 (degrees)            11735 non-null  float64
 23  winddirection S001002 (degrees)            13767 non-null  float64
 24  winddirection S001544 (degrees)            8792 non-null   float64
 25  windgusts S000220 MAX (m/s)                11629 non-null  float64
 26  windgusts S001002 MAX (m/s)                13748 non-null  float64
 27  windgusts S001544 MAX (m/s)                8792 non-null   float64
 28  windspeed S000220 AVG (m/s)                11623 non-null  float64
 29  windspeed S001002 AVG (m/s)                13767 non-null  float64
 30  windspeed S001544 AVG (m/s)                8792 non-null   float64
dtypes: datetime64[ns](1), float64(30)
memory usage: 8.7 MB